@import './fonts.css';
@import './variables.css';

body {
  font-family: 'silka', sans-serif;
  padding: 0;
  margin: 0;
  color: var(--text);
}

html {
  min-height: 100%;
  background: url('./img/pattern.svg') repeat 4px 4px, linear-gradient(to bottom, rgb(103 0 255 / 4%), transparent) no-repeat, linear-gradient(to bottom left, rgb(255 0 201 / 2%), transparent) no-repeat;
  scroll-behavior: smooth;
}

.container {
  width: calc(100% - 2em);
  max-width: 70em;
  margin: 0 auto;
}

@media (min-width: 28em) {
  .container {
    width: calc(100% - 4em);
  }
}

h1, h2, h3, h4{
  margin: 0 0 .75em;
}

@media (min-width: 20em) {
  h2 {
    font-size: 1.75em;
  }
}

@media (min-width: 42em) {
  h2 {
    font-size: 2em;
  }
}
p {
  font-weight: 300;
  line-height: 1.5;
}

code {
  font-size: 0.9375em;
  padding: .1em .2em;
  background-color: rgba(0, 0, 0, .1);
  border-radius: .25em;
  line-height: 1;
  font-family: courier, monospace;
}
section {
  margin-bottom: 3em;
}

section > ul {
  line-height: 1.5;
  list-style-type: none;
}
section > ul li {
  margin-bottom: .5em;
}
section > ul li::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--primary);
  position: absolute;
  margin-left: -1em;
  margin-top: .55em;
}

aside {
  display: block;
  padding: 1em;
  background-color: var(--purple-l);
  border-radius: .5em;
  margin: 2em 0;
}

aside p {
  margin: 0;
  vertical-align: middle;
  font-size: .9em;
}

aside svg {
  width: 1.5em;
  display: inline-block;
  vertical-align: middle;
  fill: var(--purple-d);
}

.button {
  appearance: none;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: white;
  padding: 0.75em 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(90, 41, 228, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1em;
  text-decoration: none;
}

.button:hover {
  opacity: .9;
}

.button svg {
  width: 1em;
  fill: currentColor;
  display: block;
  margin-left: .5em;
}

@media (min-width: 23em) {
  .button {
    display: inline-flex;
    margin-right: 1em;
  }
}

.button--alt {
  background-color: rgba(255, 255, 255, .5);
  border-color: currentColor;
  color: grey;
  box-shadow: none;
}

.button--alt:hover {
  color: var(--grey-md);
}

a:not(.button) {
  color: var(--primary);
  text-decoration: none;
}
a:not(.button):hover {
  text-decoration: underline;
}


.important {
  display: block;
  margin: 1em;
  font-size: 1.1em;
}
