:root {
  --system-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --primary: #4711de;
  --ui-green: #28c840;
  --ui-red: #ff5f57;
  --ui-yellow: #febc2e;
  --ui-light: #f8f2fb;
  --gray-l: #cbcbcb;
  --gray-m: #878787;
  --gray-md: #585a51;
  --gray-d: #414339;
  --text: #333;
  --purple-l: #ece3ff;
  --purple-lm: #deceff;
  --purple-m: #7335d7;
  --purple-d: #6500bf;
  --orange: #fcaa5e;
}

html[data-dark-mode="true"] {
  --ui-green: #5bc553;
  --text: #f5f5f5;
  --primary: #6232e6;
  --purple-m: #8c57e3;
  --purple-md: #432d68;
  --purple-d: #350b5a;
  --gray-l: #c6c4d0;
  --gray-m: #7d7483;
  --gray-md: #55515a;
  --gray-d: #3d3943;
}
