:root {
  --system-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --primary: #4711de;
  --ui-green: #28c840;
  --ui-red: #ff5f57;
  --ui-yellow: #febc2e;
  --ui-light: #f8f2fb;
  --gray-l: #cbcbcb;
  --gray-m: #878787;
  --gray-md: #585a51;
  --gray-d: #414339;
  --text: #333;
  --purple-l: #ece3ff;
  --purple-d: #6500bf;
}
